/* Article content styling */
.prose {
    max-width: 65ch;
    color: inherit;
}

.prose h1 {
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
    font-weight: 800;
}

.prose h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
    font-weight: 700;
}

.prose h3 {
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
    font-weight: 600;
}

.prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    line-height: 1.75;
}

.prose a {
    color: hsl(var(--primary));
    text-decoration: underline;
    font-weight: 500;
}

.prose strong {
    font-weight: 600;
}

.prose em {
    font-style: italic;
}

.prose ul, .prose ol {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
}

.prose li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.prose ul > li {
    padding-left: 0.375em;
}

.prose ol > li {
    padding-left: 0.375em;
}

.prose blockquote {
    font-weight: 500;
    font-style: italic;
    border-left: 0.25rem solid hsl(var(--primary));
    padding-left: 1em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

.prose img {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5rem;
}

.prose code {
    font-size: 0.875em;
    font-weight: 600;
    background-color: hsl(var(--muted));
    padding: 0.2em 0.4em;
    border-radius: 0.25rem;
}

.prose pre {
    background-color: hsl(var(--muted));
    overflow-x: auto;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding: 0.8571429em 1.1428571em;
}

.prose pre code {
    background-color: transparent;
    padding: 0;
}
